---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url and page.url != "/sitemap.xml" and page.url != "/robots.txt" %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <changefreq>{% if page.url == "/" %}weekly{% elif "county" in page.url or "vegas" in page.url %}monthly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if page.url == "/" %}1.0{% elif page.url == "/services/" %}0.9{% elif page.url == "/contact/" or page.url == "/gallery/" or page.url == "/court-designer/" %}0.8{% elif "county" in page.url or "vegas" in page.url %}0.8{% elif page.url == "/privacy-policy/" %}0.3{% else %}0.7{% endif %}</priority>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
